<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'oficina/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina de Manutenção</title>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Oficina de Manutenção</h1>
        <nav>
            <a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a>
            <a href="{% url 'abrir_os' %}">Abrir Ordem de Serviço</a>
            <a href="{% url 'pesquisar_os' %}">Pesquisar OS por CPF</a>
        </nav>
    </div>
</body>